*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(p1.jpg) no-repeat center center/cover ;
    height:100vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#box{
    /* border:1px solid yellow; */
    height:30vh;
    width:35vw;
}
#title{
    color:white;
    height:7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    
}
#title:hover{
    background-color: transparent;
}
#quotebox{
    border:1px solid black;
    background: white;
    height:40vh;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 1rem 1rem;
}
#quote{
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height:13vh;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
#writer{
    display:flex;
    justify-content: center;
    color:red;
    font-size: 1.3rem;
    margin-top: 1rem;
    font-size: 1.9rem;
}
#btn{
    display:flex;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
}
button{
    padding:0.4rem 0.4rem;
    color:green;
    background-color: yellow;
}